#GK-prime{
    position: absolute;
    left: 2%;
    top: 41%;
}
#CBL-prime{
    position: absolute;
    left: 12%;
    top: 41%;
}
#CBR-prime{
    position: absolute;
    left: 14%;
    top: 65%;
}
#LB-prime{
    position: absolute;
    left: 14%;
    top: 17%;
}
#RB-prime{
    position: absolute;
    left: 35%;
    top: 81%;
}
#DM-prime{
    position: absolute;
    left: 30%;
    top: 29%;
}
#CML-prime{
    position: absolute;
    left: 35%;
    top: 2%;
}
#CMR-prime{
    position: absolute;
    left: 30%;
    top: 55%;
}
#LW-prime{
    position: absolute;
    left: 56%;
    top: 77%;
}
#RW-prime{
    position: absolute;
    left: 56%;
    top: 7%;
}
#ST-prime{
    position: absolute;
    left: 65%;
    top: 42%;

}