#GK-prime{
    position: absolute;
    left: 1%;
    top: 41%;
    transition: 0.5s;
}
#CBL-prime{
    position: absolute;
    left: 12%;
    top: 41%;
    transition: 0.5s;
}
#CBR-prime{
    position: absolute;
    left: 14%;
    top: 65%;
    transition: 0.5s;
}
#LB-prime{
    position: absolute;
    left: 14%;
    top: 17%;
    transition: 0.5s;
}
#RB-prime{
    position: absolute;
    left: 35%;
    top: 81%;
    transition: 0.5s;
}
#DM-prime{
    position: absolute;
    left: 37%;
    top: 29%;
    transition: 0.5s;
}
#CML-prime{
    position: absolute;
    left: 35%;
    top: 2%;   
    transition: 0.5s;
}
#CMR-prime{
    position: absolute;
    left: 37%;
    top: 55%;
    transition: 0.5s;
}
#LW-prime{
    position: absolute;
    left: 56%;
    top: 77%;
    transition: 0.5s;
}
#RW-prime{
    position: absolute;
    left: 56%;
    top: 7%;
    transition: 0.5s;
}
#ST-prime{
    position: absolute;
    left: 62%;
    top: 42%;
    transition: 0.5s;
}